<h1>Galpão <%= @warehouse.code %></h1>
<h2>Descrição: <%= @warehouse.description %>  </h2>
<div>
  <dl>
    <dt>Código:</dt>
    <dd><%= @warehouse.code %></dd>
    <dt>Nome:</dt>
    <dd><%= @warehouse.name %></dd>
    <dt>Cidade:</dt>
    <dd><%= @warehouse.city %></dd>
    <dt>Área:</dt>
    <dd><%= @warehouse.area %> m2</dd>
    <dt>Endereço:</dt>
    <dd><%= @warehouse.address %> - CEP: <%= @warehouse.cep %></dd>
  </dl>
</div>
<div>
  <%= link_to('Editar', edit_warehouse_path(@warehouse.id)) %>
  <%= button_to('Remover', warehouse_path(@warehouse.id), method:  :delete) %>
</div>
<section id='stock_products'>
  <h2>Itens em Estoque:</h2>
  <% @stocks.each_pair do |pm, quantity| %>
    <%= quantity%> x <%= pm.name%>
  <% end %>
</section>
<section id='stock_destination'>
  <h2>Saída de Estoque</h2>
  <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse.id)) do |f|%>
    <div>
      <%= f.label(:product_model_id, 'Item para Saída')%>
      <%= f.collection_select(:product_model_id, @product_models, :id, :name)%>
    </div>
    <div>
      <%= f.label(:recipient, 'Destinatário')%>
      <%= f.text_field(:recipient)%>
    </div>
    <div>
      <%= f.label(:address, 'Endereço Destino')%>
      <%= f.text_field(:address)%>
    </div>
    <%= f.submit 'Confirmar retirada'%>
  <% end %>
</section>
<div>
  <%= link_to('Voltar', root_path) %>
</div>
